:root {
  --cor-fundo: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: var(--cor-fundo);
  color: var(--text-color);
  /* padding: 2rem; */
  width: 100%;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
}
